body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header-content {
  position: relative;
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center;
}

.buttons-container {
  display: flex; /* Use flexbox to arrange buttons side by side */
  justify-content: center; /* Center buttons horizontally */
  padding: 10px; /* Add padding around the buttons */
}

.buttons {
  color: #f4f4f4;
  background-color: blue;
  border-radius: 10px; /* Adjusted border-radius value */
  font-family: Arial, sans-serif;
  border: none; /* Removed border properties */
  padding: 10px 20px; /* Added padding for better button appearance */
  cursor: pointer; /* Added cursor style */
  margin: 0 5px; /* Add some margin between buttons */
  text-align: center; /* Center the text */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

.buttons:hover {
  color: blue;
  background-color: #f4f4f4;
  border: 2px solid blue; /* Add border on hover */
  border-radius: 50px;
  transition: 0.3s;
}

.buttons-container a {
  color: inherit; /* Inherit color from parent (.buttons) */
  text-decoration: none; /* Remove underline from links */
}

.buttons-container a:hover {
  color: inherit; /* Inherit color from parent (.buttons) on hover */
}

a{
  font-family: "Avenir", serif;
}

.desc{
  font-family: "Avenir", serif;
  font-size: 1.5rem;
  margin: 10px 0 0 0;
  font-weight: 400; /* Make the text thinner */
  text-align: center;
}

.arrow-down {
  position: absolute;
  bottom: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f4f4f4; /* Change color as needed */
}

.header {
  background: url('images/previews.gif') center center no-repeat;
  background-size: cover;
  color: #f4f4f4;
  text-align: center;
  padding: 20px 0;
  height: 100vh; /* Set height to fit entire first screen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content h1 {
  font-family: "Ethereal", sans-serif; /* Use Ethereal font */
  font-size: 3rem;
  margin: 0;
}

h1 {
  font-family: "Ethereal", sans-serif; /* Use Ethereal font */
  font-size: 3rem;
  margin: 0;
  color: blue;
}

.subheading {
  font-family: "Avenir", serif;
  font-size: 1.2rem;
  margin: 10px 0 0 0;
  font-weight: 300; /* Make the text thinner */
  text-align: center;
  font-style: italic;
  color: blue;
}

.hovered {
  font-family: "Avenir", serif;
  font-size: 1.5rem;
  margin: 10px 0 0 0;
  font-weight: 500; /* Make the text thinner */
  text-align: center;
  color: blue;
  cursor: pointer;
  transition: font-family 0.5s, font-size 0.5s, margin 0.5s, font-weight 0.5s, color 0.5s; /* Smooth transition for specific properties */
}

.hovered:hover {
  font-family: "Avenir", serif;
  font-size: 1.6rem;
  margin: 10px 0 0 0;
  font-weight: 800; /* Make the text thinner */
  color: blue;
  cursor: pointer;
  transition: font-family 0.5s, font-size 0.5s, margin 0.5s, font-weight 0.5s, color 0.5s; /* Smooth transition for specific properties */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.image-section {
  margin-bottom: 40px;
  overflow-x: hidden;
  overflow-y: auto;
}

.image-section img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.hovered:hover::after {
  content: attr(data-info);
  display: block;
  font-size: 0.8rem;
  color: blue;/* You can adjust color as needed */
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}


.arrow-down {
  position: absolute;
  bottom: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f4f4f4; /* Change color as needed */
}

.header h1 {
  font-family: "Ethereal", sans-serif; /* Use Ethereal font */
  font-size: 3rem;
  margin: 0;
  
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.image-section {
  margin-bottom: 40px;
  overflow-x: hidden;
  overflow-y: auto;
}

.image-section img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
